.container {
  position: relative;
  height: 100%;
}

.bgImgContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--background);
  transition-property: opacity;
  transition-duration: 0.3s;
}

.revealedInfo {
  opacity: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.infoContainer {
  padding: 1.5rem;
  height: calc(100% - 3rem);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.revealedInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.techsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.techContainer {
  padding: 1rem;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkContainer {
    display: flex;
    gap: 1rem;
}
