@media screen and (max-width: 800px) {
  .container {
    background-color: transparent;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .name {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    gap: 2rem;
}
}

@media screen and (min-width: 800px) {
  .container {
    background-color: transparent;
    position: relative;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .name {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form input, .form textarea {
    background-color: var(--background-secondary);
    padding: 1.5rem;
    outline: none;
    border: 1px solid var(--border);
    resize: none;
    font-family: "poppins";
    color: var(--text);
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.form button {
    padding: 1.5rem;
    font-size: 1.2rem;
    background-color: var(--background-secondary);
    border: 1px solid var(--border);
    color: var(--text);
    transition: 0.4s;
    border-radius: 0.5rem;
}

.form button:hover {
    background-color: var(--submit-hover);
    color: var(--submit-hover-color);
    cursor: pointer;
}