.container {
  position: relative;
  aspect-ratio: 1.6182;
  width: 70%;
}

.container div {
  position: absolute;
  transition: left, top, width, height, border-radius, bottom, aspect-ratio,
    border-top-right-radius, border-bottom-right-radius, border-top-left-radius,
    border-bottom-left-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
}

.bubble1,
.bubble2,
.bubble3,
.bubble4,
.bubble6,
.bubble7 {
  z-index: 3;
  position: absolute;
  transition: left, top, width, height, border-radius, bottom, aspect-ratio,
    border-top-right-radius, border-bottom-right-radius, border-top-left-radius,
    border-bottom-left-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
}

.bubble5 {
  z-index: 2;
}

/** DATA LAYOUT 1 **/
.bubble1[data-layout="1"] {
  left: 0%;
  top: 0%;
  width: 10%;
  height: 50%;
  border-radius: 15rem;
  background-color: var(--border);
}

.bubble2[data-layout="1"] {
  left: 10%;
  top: 5%;
  width: 18%;
  height: 70%;
  border-radius: 15rem;
  background-color: var(--secondary);
}

.bubble3[data-layout="1"] {
  left: 28%;
  top: 15%;
  width: 22%;
  height: 80%;
  border-radius: 15rem;
  background-color: var(--accent-blue-light);
}

.bubble4[data-layout="1"] {
  left: 50%;
  top: 50%;
  width: 10%;
  height: 50%;
  border-radius: 15rem;
  background-color: var(--accent-light);
}

.bubble5[data-layout="1"] {
  left: 60%;
  top: 40%;
  width: 7%;
  height: 40%;
  border-radius: 15rem;
  background-color: var(--text);
}

.bubble6[data-layout="1"] {
  left: 67%;
  top: 20%;
  width: 15%;
  height: 60%;
  border-radius: 15rem;
  background-color: var(--accent-green);
}

.bubble7[data-layout="1"] {
  left: 82%;
  top: 10%;
  width: 17%;
  height: 80%;
  border-radius: 15rem;
  background-color: var(--primary);
}
/** END DATA LAYOUT 1 **/

/**DATA LAYOUT 2**/
.bubble1[data-layout="2"] {
  left: 0%;
  top: 0%;
  width: 10%;
  height: 50%;
  background-color: var(--border);
}

.bubble2[data-layout="2"] {
  left: 10%;
  top: 5%;
  width: 18%;
  height: 70%;
  background-color: var(--secondary);
}

.bubble3[data-layout="2"] {
  left: 28%;
  top: 15%;
  width: 22%;
  height: 80%;
  background-color: var(--accent-blue-light);
}

.bubble4[data-layout="2"] {
  left: 50%;
  top: 50%;
  width: 10%;
  height: 50%;
  background-color: var(--accent-light);
}

.bubble5[data-layout="2"] {
  left: 60%;
  top: 40%;
  width: 7%;
  height: 40%;
  background-color: var(--text);
}

.bubble6[data-layout="2"] {
  left: 67%;
  top: 20%;
  width: 15%;
  height: 60%;
  background-color: var(--accent-green);
}

.bubble7[data-layout="2"] {
  left: 82%;
  top: 10%;
  width: 17%;
  height: 80%;
  background-color: var(--primary);
}
/*END DATA LAYOUT 2 */

/**DATA LAYOUT 3**/
.bubble1[data-layout="3"] {
  left: 0%;
  top: 0%;
  width: 20%;
  height: 50%;
  background-color: var(--border);
}

.bubble2[data-layout="3"] {
  left: 0%;
  top: 50%;
  width: 30%;
  height: 50%;
  background-color: var(--secondary);
}

.bubble3[data-layout="3"] {
  left: 20%;
  top: 0%;
  width: 30%;
  height: 50%;
  background-color: var(--accent-blue-light);
}

.bubble4[data-layout="3"] {
  left: 30%;
  top: 50%;
  width: 20%;
  height: 50%;
  background-color: var(--accent-light);
}

.bubble5[data-layout="3"] {
  left: 50%;
  top: 0%;
  width: 50%;
  height: 100%;
  background-color: var(--text);
}

.bubble6[data-layout="3"] {
  left: 70%;
  top: 40%;
  width: 30%;
  height: 60%;
  background-color: var(--accent-green);
}

.bubble7[data-layout="3"] {
  left: 85%;
  top: 75%;
  width: 15%;
  height: 25%;
  background-color: var(--primary);
}
/** END DATA LAYOUT 3**/

/**DATA LAYOUT 4**/
.bubble1[data-layout="4"] {
  left: 0%;
  top: 0%;
  width: 20%;
  height: 50%;
  border-radius: 4rem;
  background-color: var(--border);
}

.bubble2[data-layout="4"] {
  left: 0%;
  top: 50%;
  width: 30%;
  height: 50%;
  border-radius: 4rem;
  background-color: var(--secondary);
}

.bubble3[data-layout="4"] {
  left: 20%;
  top: 0%;
  width: 30%;
  height: 50%;
  border-radius: 4rem;
  background-color: var(--accent-blue-light);
}

.bubble4[data-layout="4"] {
  left: 30%;
  top: 50%;
  width: 20%;
  height: 50%;
  border-radius: 4rem;
  background-color: var(--accent-light);
}

.bubble5[data-layout="4"] {
  left: 50%;
  top: 0%;
  width: 50%;
  height: 100%;
  border-radius: 5rem;
  background-color: var(--text);
}

.bubble6[data-layout="4"] {
  left: 70%;
  top: 40%;
  width: 30%;
  height: 60%;
  border-radius: 3rem;
  background-color: var(--accent-green);
}

.bubble7[data-layout="4"] {
  left: 85%;
  top: 75%;
  width: 15%;
  height: 25%;
  border-radius: 2rem;
  background-color: var(--primary);
}
/** END DATA LAYOUT 4**/

/**DATA LAYOUT 4**/
.bubble1[data-layout="5"] {
  left: 0%;
  top: 0%;
  width: 20%;
  height: 50%;
  border-bottom-left-radius: 8rem;
  background-color: var(--border);
}

.bubble2[data-layout="5"] {
  left: 0%;
  top: 50%;
  width: 30%;
  height: 50%;
  border-top-right-radius: 7rem;
  border-bottom-right-radius: 7rem;
  background-color: var(--secondary);
}

.bubble3[data-layout="5"] {
  left: 20%;
  top: 0%;
  width: 30%;
  height: 50%;
  border-radius: 8rem;
  background-color: var(--accent-blue-light);
}

.bubble4[data-layout="5"] {
  left: 30%;
  top: 50%;
  width: 20%;
  height: 50%;
  border-bottom-left-radius: 8rem;
  background-color: var(--accent-light);
}

.bubble5[data-layout="5"] {
  left: 50%;
  top: 0%;
  width: 50%;
  height: 100%;
  border-top-right-radius: 10rem;
  background-color: var(--text);
}

.bubble6[data-layout="5"] {
  height: 40%;
  left: 70%;
  top: 60%;
  width: 30%;
  border-top-left-radius: 15rem;
  background-color: var(--accent-green);
}

.bubble7[data-layout="5"] {
  left: 85%;
  top: 75%;
  width: 15%;
  height: 25%;
  border-top-left-radius: 15rem;
  background-color: var(--primary);
}
/** END DATA LAYOUT 4**/

/**DATA LAYOUT 4**/
.bubble1[data-layout="6"] {
  left: 0%;
  top: 0%;
  height: 30%;
  width: 20%;
  border-radius: 100%;
  background-color: var(--border);
}

.bubble2[data-layout="6"] {
  left: 0%;
  top: 30%;
  width: 30%;
  height: 70%;
  border-radius: 100%;
  background-color: var(--secondary);
}

.bubble3[data-layout="6"] {
  left: 20%;
  top: 0%;
  width: 30%;
  height: 60%;
  border-radius: 100%;
  background-color: var(--accent-blue-light);
}

.bubble4[data-layout="6"] {
  left: 40%;
  top: 50%;
  width: 20%;
  height: 30%;
  border-radius: 100%;
  background-color: var(--accent-light);
}

.bubble5[data-layout="6"] {
  left: 45%;
  top: 0%;
  width: 50%;
  height: 100%;
  border-radius: 100%;
  background-color: var(--text);
}

.bubble6[data-layout="6"] {
  height: 50%;
  left: 70%;
  top: 50%;
  width: 30%;
  border-radius: 100%;
  background-color: var(--accent-green);
}

.bubble7[data-layout="6"] {
  left: 80%;
  top: 70%;
  width: 20%;
  height: 30%;
  border-radius: 15rem;
  background-color: var(--primary);
}
/** END DATA LAYOUT 4**/
