@media screen and (min-width: 800px) {
    .container {
        background-color: transparent;
        position: relative;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 800px) {
    .container {
        background-color: transparent;
        position: relative;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

.workItems {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.container {
    line-height: 1.7;
}