.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.summaryContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .auxillaryContainer {
    padding-left: 8rem;
  }
}

@media screen and (max-width: 1000px) {
  .auxillaryContainer {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .summaryContainer {
    width: 100%;
    justify-content: center;
  }

  .auxillaryContainer {
    padding-left: 0;
    width: 90%;
  }
}

@media screen and (min-width: 700px) {
  .summaryContainer {
    width: 50%;
  }
}

.auxillaryContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

@keyframes shiftGradient {
  0% {
    background-position: 100%;
  }
  50% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}


.title {
  background: -webkit-linear-gradient(
    0deg,
    var(--accent),
    var(--accent-blue-light)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shiftGradient 10s linear infinite; /* Adjust the duration as needed */
  padding-bottom: 0.5rem;
}

.roles {
  display: flex;
  flex-direction: row;
}

@keyframes arrowBob {
  0% {
    bottom: 6rem;
  }
  10% {
    bottom: 4rem;
  }
  20% {
    bottom: 6rem;
  }
  40% {
    bottom: 6rem;
  }
  50% {
    bottom: 4rem;
  }
  60% {
    bottom: 6rem;
  }
  100% {
    bottom: 6rem;
  }
}

.downArrowContainer {
  position: absolute;
  bottom: 6rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  animation-duration: 5s;
  animation-name: arrowBob;
  animation-iteration-count: infinite;
  transition-property: color;
  transition-duration: 0.3s;
  z-index: 3;
}

.textDownArrow {
  transition-property: color;
  transition-duration: 0.3s;
}

.downArrowContainer:hover,
.textDownArrow:hover {
  cursor: pointer;
  color: var(--accent);
}

.textDownArrow {
  color: var(--text);
}
