.container {
  width: 100%;
  background: linear-gradient(var(--background) 0%, var(--background) 40%, transparent 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}

.logo {
  background: -webkit-linear-gradient(
    0deg,
    var(--accent),
    var(--accent-blue-light)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobileNavContainer {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: thin; /* Hide scrollbar in Firefox */
  scrollbar-color: transparent transparent; /* Hide scrollbar in Firefox */
  padding-right: 15px; /* Adjust the value to match the scrollbar width in your browser */
  margin: 1rem;
  gap: 1rem;
  height: 100%;
  align-items: center;
  -webkit-scrollbar: none;
  -webkit-scrollbar-thumb: none;
  font-size: 0.8rem;
}

.mobileNavContainer::-webkit-scrollbar {
  display: none;
}

.mobileNavOption {
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 3rem;
  border: none;
  outline: none;
  padding: 0.5rem;
}


.themeBtn {
  background-color: transparent;
  outline: none;
  border: 2px solid var(--text);
  border-radius: 0.5rem;
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 800px) {
  .btnContent {
    font-size: 2rem;
    padding: 0.7rem;
  }
  .pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    padding-right: 2rem;
  }
  .logo {
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .btnContent {
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
    padding-right: 1.5rem;
  }
  .logo {
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.themeBtn:hover {
  border: 2px solid var(--accent);
  color: var(--accent);
  transition: color border;
  transition-duration: 0.3s;
  cursor: pointer;
}

.page {
  color: var(--text);
  padding: 1rem;
}

.page a:hover {
  cursor: pointer;
}

.page:hover {
  color: var(--accent);
  transition-property: color;
  transition: 0.3s;
}

.logoContainer:hover {
  cursor: pointer;
}
