@media screen and (max-width: 800px) {
    .container {
        background-color: transparent;
        position: relative;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}

@media screen and (min-width: 800px) {
    .container {
        background-color: transparent;
        position: relative;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}


.paragraph {
    line-height: 1.7;
}

.techStack {
    padding-top: 2rem;
}